<!DOCTYPE html>
<html>
<head>
  <title>Arkham Asylum Foster Program</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "asylum", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("/images/logo.png") %>
		<%= @page_title || "Arkham Asylum Foster Program" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="/">Catalog</a></li>
				<li><a href="/villains">Listings</a></li>
			</ul>
	<footer>
		Villainous Pets | csci446 | mdeslis
	</footer>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
