<!DOCTYPE html>
<html>
<head>
  <title>Villainous Pet Shop</title>
  <%= stylesheet_link_tag "foster", "application", media: "all", "data-turbolinks-track" =>true %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("/images/logo.png") %>
		<%= @page_title || "Villainous Pet Shop" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
			<li><a href="store#index">Home</a></li>
			<li><a href="pets#index">Listings</a></li>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
