<h1>Listings</h1>
<br>
<table id="pet_table">
  <thead>
    <tr>
	  <th></th>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Gender", :sort => "gender" %></th>
      <th><%= link_to "Intelligience", :sort => "intell" %></th>
      <th><%= link_to "Strength", :sort => "strength" %></th>
      <th><%= link_to "Speed", :sort => "speed" %></th>
      <th><%= link_to "Durability", :sort => "durab" %></th>
      <th><%= link_to "Power", :sort => "power" %></th>
      <th><%= link_to "Combat", :sort => "combat" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
	  	<td><%= image_tag(pet.image_url, :class => 'list_image') %></td>
        <td><%= pet.name %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.intell %></td>
        <td><%= pet.strength %></td>
        <td><%= pet.speed %></td>
        <td><%= pet.durab %></td>
        <td><%= pet.power %></td>
        <td><%= pet.combat %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'Add Pet', new_pet_path %></center>

<footer>Maria Deslis | Villain Pet Adoption | Spring 2014 | csci446</footer>
