<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Catalog</h1>
<table id="store_table">
<% @villains.each do |villain| %>
	<div class="entry">
		<tr>
		<td align="center">
		<h3><%= villain.name %></h3>
		<%= link_to(image_tag(villain.image_url, :class => 'list_image'), line_items_path(:villain_id => villain), :method => :post)  %>
		</td>
		<td align="left">
		<ul>
			<li>Gender: <%= villain.gender %></li>
			<li>Strength: <%= villain.str %></li>
			<li>Speed: <%= villain.speed %></li>
			<li>Intelligience: <%= villain.intel %></li>
			<li>Durability: <%= villain.durab %></li>
			<li>Combat: <%= villain.combat %></li>
			<li>Power: <%= villain.power %></li>
			<hr />
			<table>
				<tr>
					<td><%= button_to 'View Villain', "#{villains_path}/#{villain.id}", :method => :get %></td>
					<td><%= button_to 'Consider to Foster', line_items_path(:villain_id => villain) %></td>
				</tr>
			</table>
		</td>
		</tr>
	</div>
<% end %>
</table>

