<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Catalog</h1>

<% @pets.each do |pet| %>
	<div class="entry">
		<h3><%= pet.name %> :: <%= pet.gender %></h3>
		<%= image_tag(pet.image_url, :class => 'list_image') %>
		<%= button_to 'Agree to Foster', line_items_path(:pet_id => pet) %>
	</div>
<% end %>

<footer>
Villainous Pets | csci446 | mdeslis
</footer>

