<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><%= image_tag(@villain.image_url) %></td>
		<td>
	<p>
	  <strong>Name:</strong>
	  <%= @villain.name %>
	</p>

	<p>
	  <strong>Gender:</strong>
	  <%= @villain.gender %>
	</p>

	<p>
	  <strong>Intel:</strong>
	  <%= @villain.intel %>
	</p>

	<p>
	  <strong>Str:</strong>
	  <%= @villain.str %>
	</p>

	<p>
	  <strong>Speed:</strong>
	  <%= @villain.speed %>
	</p>

	<p>
	  <strong>Durab:</strong>
	  <%= @villain.durab %>
	</p>

	<p>
	  <strong>Power:</strong>
	  <%= @villain.power %>
	</p>

	<p>
	  <strong>Combat:</strong>
	  <%= @villain.combat %>
	</p>

	</td>
	</tr>
</table>

<%= link_to 'Edit', edit_villain_path(@villain) %> |
<%= link_to 'Back', villains_path %>
