<% @cart.line_items.each do |item| %>
	<h2>You have chosen <%= item.pet.name %></h2>
<% end %>

<p>
You have hearby agreed to take in and foster this Arkhamn Asylum patient.
<br>
You agree to wash them, feed them, take them out on walks, and give them the attention and love that
they so desperately need.
<br>
You are also aware of the dangers and have taken precautions.
<br>
If you die, it's not our fault.
<br> 
Have fun!
</p>

	<% @cart.line_items.each do |item| %>
		<%= image_tag(item.pet.image_url, :class => 'list_choice') %>
	<% end %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>

